<dl>
    <dt>{{ __github }}</dt>
    {%- if include.items -%}
        {% for item in include.items -%}
            {% case item %}
                {% when "homepage" %}
                    <dd><a href="{{ repository_url }}"><i class="fa fa-github"></i> {{ __homepage }}</a></dd>
                {% when "issues" %}
                    <dd><a href="{{ issues_url }}"><i class="fa fa-question-circle-o"></i> {{ __issues }}</a></dd>
                {% when "download" %}
                    <dd><a href="{{ zip_url }}"><i class="fa fa-download"></i> {{ __download }}</a></dd>
                {% else %}
            {% endcase %}
        {% endfor -%}
    {%- else -%}
        <dd><a href="{{ repository_url }}"><i class="fa fa-github"></i> {{ __homepage }}</a></dd>
        <dd><a href="{{ issues_url }}"><i class="fa fa-question-circle-o"></i> {{ __issues }}</a></dd>
        <dd><a href="{{ zip_url }}"><i class="fa fa-download"></i> {{ __download }}</a></dd>
    {%- endif -%}
</dl>
