<dl>
    <dt>{{ site.data.translate.github | default: "GitHub" }}</dt>
    <dd>
        <a href="{{ site.github.repository_url }}">
            <i class="fa fa-github"></i> {{ site.data.translate.homepage | default: "HomePage" }}
        </a>
    </dd>
    <dd>
        <a href="{{ site.github.issues_url }}">
            <i class="fa fa-question-circle-o"></i> {{ site.data.translate.issues | default: "Issues" }}
        </a>
    </dd>
    <dd>
        <a href="{{ site.github.zip_url }}">
            <i class="fa fa-download"></i> {{ site.data.translate.download | default: "Download" }}
        </a>
    </dd>
</dl>
