<div class="d-flex flex-justify-between" role="navigation" aria-label="breadcrumbs navigation">
    <ul>
        <li class="breadcrumb-item">
            <a href="{{ site.baseurl }}/"><i class="fas fa-home"></i></i></a>
        </li>
        {%- case page.url -%}
            {%- when "/search.html" %}
                <li class="breadcrumb-item" aria-current="page">{{ __search }}</li>
            {%- when "/404.html" %}
                <li class="breadcrumb-item" aria-current="page">{{ __404 }}</li>
            {%- else -%}
                {%- assign blocks = page.path | split: "/" -%}
                {%- assign length = blocks | size -%}
                {%- if page.dir == page.url and page.url != "/" -%}
                    {%- assign length = blocks | size | minus: 1 -%}
                {%- endif -%}
                {%- for block in blocks limit: length -%}
                    {%- if forloop.last %}
                        <li class="breadcrumb-item" aria-current="page">{{ page.title }}</li>
                    {%- else -%}
                        {%- capture href -%}
                            {{ site.baseurl }}/{% for block in blocks limit: forloop.index %}{{ block | append: "/" }}{% endfor %}
                        {%- endcapture %}
                        <li class="breadcrumb-item">
                            <a href="{{ href }}">
                                {%- if block == lang -%}
                                    {{ block }}
                                {%- else -%}
                                    {{ block | capitalize }}
                                {%- endif -%}
                            </a>
                        </li>
                    {%- endif -%}
                {%- endfor -%}
        {%- endcase %}
    </ul>
    {%- if site.edit and site.github_metadata != false -%}
        <a href="{{ github_edit_link }}" class="fa fa-edit" target="_blank"></a>
    {%- endif -%}
</div>
