{% comment %} comments {% endcomment %}
{% if site.disqus %}
    <div id="disqus_thread" class="comments"></div>
    <script>
        (function(script) {
            script.src = "https://{{ site.disqus }}.disqus.com/embed.js";
            script.setAttribute("data-timestamp", +new Date());
            document.head.appendChild(script);
        })(document.createElement("script"));
    </script>
{% endif %}

{% comment %} prev and next {% endcomment %}
{%- if page.url != "/search.html" and page.url != "/404.html" -%}
    {%- if next or prev -%}
        <div class="navigation-bottom d-flex flex-justify-between py-3" role="navigation" aria-label="footer navigation">
            <div class="prev">
                {%- if prev -%}
                    <a href="{{ prev.url | relative_url }}" class="btn" title="{{ prev.title }}" accesskey="p" rel="prev">
                        <i class="fa fa-arrow-circle-left"></i> {{ __previous -}}
                    </a>
                {%- endif -%}
            </div>
            <div class="next">
                {%- if next -%}
                    <a href="{{ next.url | relative_url }}" class="btn" title="{{ next.title }}" accesskey="n" rel="next">
                        {{- __next }} <i class="fa fa-arrow-circle-right"></i>
                    </a>
                {%- endif -%}
            </div>
        </div>
    {%- endif -%}
{%- endif -%}

<hr>

<div class="copyright text-center text-gray" role="contentinfo">
    {%- if site.copyright -%}
        <p class="content">
            <i class="fa fa-copyright"></i>
            {%- if site.copyright.since -%}
                {{ site.copyright.since | append: "-" }}
            {%- endif -%}
            {{- site.time | date: "%Y" }},
            {{ author }}
            {% if site.github_metadata != false -%}
                {% if site.copyright.license %}
                    <span class="license">
                        {{ site.github.license.name }}
                    </span>
                {% endif %}
                {% if site.copyright.revision %}
                    <span class="commit">
                        {{ __revision }} <code>{{ commit }}</code>
                    </span>
                {% endif %}
            {% endif %}
        </p>
    {%- endif -%}
    {%- if site.copyright.theme != false -%}
        <p class="theme">
            Powered by
            <a href="https://rundocs.io" target="_blank">rundocs.io</a>
            using the
            {% if site.remote_theme %}remote{% endif %}
            theme
            <a href="https://github.com/rundocs/jekyll-rtd-theme" target="_blank" title="v{{ version }}">jekyll-rtd-theme</a>
        </p>
    {%- endif -%}
</div>
