{% comment %} prev and next {% endcomment %}
{%- if page.url != "/search.html" and page.url != "/404.html" -%}
    {%- if next or prev -%}
        <div class="navigation-bottom d-flex flex-justify-between py-3" role="navigation" aria-label="footer navigation">
            <div class="prev">
                {%- if prev -%}
                    <a href="{{ prev.url | relative_url }}" class="btn" title="{{ prev.title }}" accesskey="p" rel="prev">
                        <i class="fa fa-arrow-circle-left"></i> {{ site.data.translate.previous | default: "Previous" }}
                    </a>
                {%- endif -%}
            </div>
            <div class="next">
                {%- if next -%}
                    <a href="{{ next.url | relative_url }}" class="btn" title="{{ next.title }}" accesskey="n" rel="next">
                        {{ site.data.translate.next | default: "Next" }} <i class="fa fa-arrow-circle-right"></i>
                    </a>
                {%- endif -%}
            </div>
        </div>
    {%- endif -%}
{%- endif -%}

<hr>

<div class="copyright text-center text-gray" role="contentinfo">
    <i class="fa fa-copyright"></i>
    {%- assign created_time = rest.created_at | default: site.time | date: "%Y" -%}
    {%- assign updated_time = site.time | date: "%Y" -%}
    {%- if created_time == updated_time -%}
        {{ created_time }},
    {%- else -%}
        {{ created_time }}-{{ updated_time }},
    {%- endif %}
    <a class="text-gray" href="{{ site.github.owner_url }}" target="_blank">
        {{ site.github.owner_name }}
    </a>
    {{ site.data.translate.revision | default: "Revision" }}
    <a class="text-gray" href="{{ site.github.repository_url }}/commit/{{ site.github.build_revision }}" title="{{ site.github.build_revision }}" target="_blank">
        {{ site.github.build_revision | slice: 0, 7 }}
    </a>
</div>
