{%- include reset/workdir.liquid %}

{% comment %} list the root files {% endcomment %}
<ul>
    {%- for item in workdir_files -%}
        {%- assign level = item.dir | append: "temp" | replace_first: "/", "" | split: "/" | size -%}
        {%- if site_lang != lang -%}
            {%- assign level = level | minus: 1 -%}
        {%- endif -%}
        {%- capture current -%}
            {%- if page.url == item.url %}current{% endif -%}
        {%- endcapture %}
        <li class="toctree-l{{ level }} {{ current }}" data-sort="{{ item.sort }}" data-level="{{ level }}">
            <a class="reference internal {{ current }}" href="{{ item.url | relative_url }}">
                {%- if item.sort and site.show_sorted != false -%}
                    {{ item.sort }}. {{ item.title | default: item.url }}
                {%- else -%}
                    {{ item.title | default: item.url }}
                {%- endif -%}
            </a>
        </li>
    {%- endfor %}
</ul>

{% comment %} list the root dirs {% endcomment %}
{%- for workdir in workdir_dirs %}{% include extend/toctree.liquid %}{% endfor -%}
