---
layout: plugins/compress
---

{%- include reset/defaults.liquid -%}

<!DOCTYPE html>

<!--
    {% if site.remote_theme -%}
        rundocs.io, remote_theme: {{ site.remote_theme }}, based on v{{ version }}
    {%- else -%}
        rundocs.io, theme: {{ site.theme | default: "jekyll-rtd-theme, based on" }} v{{ version }}
    {%- endif %}
-->

<html class="writer-html5" lang="{{ lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <title>{{ title | truncate: 110 }}</title>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        function debug() {
            console.debug.apply(console, arguments);
        }

        gtag("js", new Date());

        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("{{ site.baseurl }}/sw.caches.js");
        } else {
            debug("Service Worker not supported!");
        }
    </script>
    <!-- meta -->
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <meta name="revised" content="{{ commit }}">
    <meta name="generator" content="jekyll-rtd-theme v{{ version }}">
    <!-- meta-ogp -->
    {% comment %} https://ogp.me {% endcomment %}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:locale" content="{{ lang }}">
    <meta property="og:url" content="{{ schema_surl }}">
    <meta property="og:type" content="article">
    <meta property="article:author" content="{{ author }}">
    <meta property="article:published_time" content="{{ schema_date }}">
    <meta property="article:modified_time" content="{{ schema_modi }}">
    <!-- meta-custom -->
    {% for meta in site.meta -%}
        <meta name="{{ meta.first }}" content="{{ meta.last }}">
    {% endfor -%}
    <!-- schema -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Article",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ schema_surl }}"
            },
            "headline": "{{ title | truncate: 110 }}",
            "image": [{% for image in page.images %}"{{ image }}"{% unless forloop.last %},{% endunless %}{% endfor %}],
            "author": {
                "@type": "Person",
                "name": "{{ author }}"
            },
            "datePublished": "{{ schema_date }}",
            "dateModified": "{{ schema_modi }}",
            "publisher": {
                "@type": "Organization",
                "name": "RunDocs",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://rundocs.io/logo.png"
                }
            },
            "description": "{{ description }}"
        }
    </script>
    <!-- link -->
    <link rel="canonical" href="{{ schema_surl }}">
    {% if prev %}<link rel="prev" href="{{ prev.url | absolute_url }}">{% endif %}
    {% if next %}<link rel="next" href="{{ next.url | absolute_url }}">{% endif %}
    <!-- theme -->
    <link rel="stylesheet" href="{{ cdn }}/assets/css/theme.css">
    <link rel="stylesheet" href="{{ cdn }}/assets/css/rougify/{{ site.rougify | default: 'github' }}.css">
    <style>{{ site_scss | scssify | strip_newlines }}</style>
    <!-- icon -->
    <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/favicon.svg">
    <!-- script -->
    <!--[if lt IE 9]><script src="{{ cdn }}/assets/js/html5shiv.min.js"></script><![endif]-->
    <script src="{{ cdn }}/assets/js/jquery.min.js"></script>
    <script>
        const ui = {
            baseurl: "{{ site.baseurl }}",
            title: "{{ site.title }}",
            lang: "{{ lang }}",
            admonition: {
                note: "{{ __note }}",
                tip: "{{ __tip }}",
                warning: "{{ __warning }}",
                danger: "{{ __danger }}"
            }
        };
    </script>
    {% include extra/head.html %}
</head>

<body class="wy-body-for-nav">
    <div class="wy-grid-for-nav">
        <!-- NAV -->
        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
            <div class="wy-side-scroll">
                <div class="wy-side-nav-search">
                    {% if site.logo %}
                        <a href="{{ site.baseurl }}/{% if site_lang != lang %}{{ lang }}/{% endif %}">
                            <img src="{{ site.baseurl }}/{{ site.logo }}" class="logo" alt="{{ site.title }}">
                        </a>
                    {% else %}
                        <a href="{{ site.baseurl }}/{% if site_lang != lang %}{{ lang }}/{% endif %}" class="icon icon-home"> {{ site.title }}</a>
                    {% endif %}
                    {% if site.nav_version and site.github_metadata != false %}
                      <div class="version">{{ site.github.latest_release.name }}</div>
                    {% endif %}
                    <div role="search">
                        <form id="rtd-search-form" class="wy-form" action="{{ site.baseurl }}/search.html" method="get" autocomplete="off">
                            <input type="text" name="q" placeholder="{{ __search_docs }}...">
                            <input type="hidden" name="lang" value="{{ lang }}">
                        </form>
                    </div>
                </div>
                <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">{% include toctree.liquid %}</div>
                {%- if site.embed -%}
                    <div class="wy-embed-wrap"><div class="wy-embed">{{ site.embed }}</div></div>
                {%- endif -%}
            </div>
        </nav>

        <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">
            <!-- MOBILE NAV -->
            <nav class="wy-nav-top" aria-label="top navigation">
                <div class="flex">
                    <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
                    <div class="wy-nav-title">
                        <a href="{{ site.baseurl }}/{% if site_lang != lang %}{{ lang }}/{% endif %}">{{ site.title }}</a>
                    </div>
                </div>
            </nav>
            <div class="wy-nav-content">
                <div class="rst-content">
                    {% include breadcrumbs.liquid %}
                    <div role="main" itemscope="itemscope" itemtype="http://schema.org/Article">
                        <div class="document" itemprop="articleBody">
                            {%- if page.url == "/search.html" -%}
                                {{ content }}
                            {%- else -%}
                                <div class="section">{{ content }}</div>
                            {%- endif -%}
                        </div>
                        {% comment %} comments {% endcomment %}
                        {% if site.disqus %}
                            <div id="disqus_thread" class="articleComments"></div>
                            <script>
                                (function(script) {
                                    script.src = "https://{{ site.disqus }}.disqus.com/embed.js";
                                    script.setAttribute("data-timestamp", +new Date());
                                    document.head.appendChild(script);
                                })(document.createElement("script"));
                            </script>
                        {% endif %}
                    </div>
                    {% include footer.liquid %}
                </div>
            </div>
        </section>
    </div>
    {%- if site.addons %}{% include addons.liquid %}{% endif %}
    {% include extra/footer.html %}
    <!-- script -->
    <script src="{{ cdn }}/assets/js/anchor.min.js"></script>

    {% comment %} mermaid {% endcomment %}
    {%- if content contains '<pre class="notranslate language-mermaid">' -%}
        {%- if site.mermaid.custom -%}
            <script src="{{ site.mermaid.custom }}"></script>
        {%- else -%}
            <script src="{{ cdn }}/assets/js/mermaid.min.js"></script>
        {%- endif %}
        <script>
            mermaid.initialize({% if site.mermaid.initialize %}{{ site.mermaid.initialize | jsonify }}{% else %}{}{% endif %});
        </script>
    {%- endif %}
    <script>
        {% include assets/common.js %}
        {% include assets/custom.js %} {{ site.script }}
    </script>

    {% comment %} Baidu link submit {% endcomment %}
    {%- if site.baidu.linksubmit -%}
        <script>
            (function(script) {
                script.src = "https://zz.bdstatic.com/linksubmit/push.js";
                document.head.appendChild(script);
            })(document.createElement("script"));
        </script>
    {%- endif -%}

    {% comment %} Baidu Analytics {% endcomment %}
    {%- if site.baidu.hm -%}
        <script>
            var _hmt = _hmt || [];
            (function(script) {
                script.src = "https://hm.baidu.com/hm.js?{{ site.baidu.hm }}";
                document.head.appendChild(script);
            })(document.createElement("script"));
        </script>
    {%- endif -%}

    {% comment %} CNZZ Analytics {% endcomment %}
    {%- if site.cnzz -%}
        <span id="cnzz_stat_icon_{{ site.cnzz }}" style="display: none;"></span>
        <script async src="https://v1.cnzz.com/z_stat.php?id={{ site.cnzz }}"></script>
    {%- endif -%}

    {% comment %} Google Analytics {% endcomment %}
    {%- if site.google.gtag -%}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google.gtag }}"></script>
        <script>
            gtag("config", "{{ site.google.gtag }}");
        </script>
    {%- endif -%}

    {% comment %} Google AdSense {% endcomment %}
    {%- if site.google.adsense -%}
        <script data-ad-client="{{ site.google.adsense }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {%- endif -%}
</body>

</html>
